*{
    margin: 0;
    padding: 0;
}
body{
    background: url("Side_scrollerBG.gif") no-repeat /*center center fixed*/;
    background-size: 100vw 100vh;
}
h1{
    color: cadetblue;
    background: linear-gradient(to right, #1E272E, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.SN_P{
    position: relative;
    left: 47vw;
    animation: SN_P_animate 10s linear infinite;
}
@keyframes SN_P_animate {
    0% {
        transform: translate(-50%, 50%);
    }
    100% {
        transform: rotate(50%, -50%);
    }
}

.Side_run{
    position: relative;
    top: 54vh;
    animation: Side_run_animate 10s linear infinite alternate;
}

.run1{
    left: 50vw;
}

@keyframes Side_run_animate {
    0% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(+10vw);
    }
}

.flying_monster_skull{
    
}